# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/
ENV/

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Data
# =========================
data/raw/*
data/bronze/*
data/silver/*

# Keep folder structure
!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep

# =========================
# dbt
# =========================
mediapulse_dbt/target/
mediapulse_dbt/logs/
mediapulse_dbt/dbt_packages/

# =========================
# Node / React
# =========================
frontend/node_modules/
frontend/dist/
frontend/.vite/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/

# =========================
# Temporary files
# =========================
*.tmp
*.temp
*.bak
*.swp